<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VotingGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>25E3EEE11CA6D10700AF2A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25E3EEFD1CA6D10700AF2A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25E3EF081CA6D10700AF2A0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
